{namespace Templates.OptionalParam}

/**
 */
{template .content}
  {delcall OptionalParam.hello data="all" /}
{/template}

/**
 * @param firstName
 * @param? lastName
 */
{template .hello}
  Hello {$firstName}{if $lastName} {$lastName}{/if}!
{/template}
