{namespace Templates.CustomTestComponent}

/**
 * @param? extra
 */
{template .render}
	{call .title}
		{param title: 'My Title' /}
	{/call}
	{call .header data="all" /}
	{call .footer data="all" /}
	{if $extra}
		<div class="extra">{$extra}</div>
	{/if}
{/template}

/**
 * @param headerContent
 */
{template .header}
	{$headerContent}
{/template}

/**
 * @param footerContent
 */
{template .footer}
	{$footerContent}
{/template}

/**
 * @param title
 */
{template .title private="true"}
	{$title}
{/template}
