
/**
 * @param? elementContent
 * @param? elementClasses
 * @param id
 */
{deltemplate <%= moduleName %>}
	{call Templates.SoyComponent.component data="all"}
		{param componentName: '<%= moduleName %>' /}
	{/call}
{/deltemplate}
