
/**
 * @param? elementContent
 * @param? elementClasses
 * @param id
 */
{deltemplate <%= moduleName %> variant="'element'"}
  <div id="{$id}" class="<%= className %> component{$elementClasses ? ' ' + $elementClasses : ''}" data-component="">
    {$elementContent}
  </div>
{/deltemplate}
