
/**
 * @param? elementContent
 * @param id
 */
{deltemplate <%= moduleName %>.<%= surfaceName %>}
	{delcall <%= moduleName %>.<%= surfaceName %> variant="'element'"}
		{param elementContent kind="html"}
			{call .<%= surfaceName %> data="all" /}
		{/param}
		{param id: $id /}
	{/delcall}
{/deltemplate}
