
/**
 * @param? elementContent
 * @param id
 * @param? surfaceId
 */
{deltemplate <%= moduleName %>.<%= surfaceName %> variant="'element'"}
	{let $elementId: $id + '-' + (isNonnull($surfaceId) ? $surfaceId : '<%= surfaceName %>') /}
	<div id="{$elementId}">{$elementContent}</div>
{/deltemplate}
