
/**
 * @param? elementContent
 * @param id
 */
{deltemplate <%= moduleName %>.<%= surfaceName %>}
	{delcall <%= moduleName %>.<%= surfaceName %> variant="'element'"}
		{param elementContent kind="html"}
			{if not $ij.skipSurfaceContents}
				{delcall <%= moduleName %>.<%= surfaceName %> variant="'content'" data="all" /}
			{/if}
		{/param}
		{param id: $id /}
	{/delcall}
{/deltemplate}

/**
 * @param? elementContent
 * @param id
 */
{deltemplate <%= moduleName %>.<%= surfaceName %> variant="'content'"}
	{call .<%= surfaceName %> data="all" /}
{/deltemplate}
