
/**
 * @param? elementContent
 * @param id
 */
{deltemplate <%= moduleName %>.<%= surfaceName %>}
	{delcall <%= moduleName %>.<%= surfaceName %> variant="'element'"}
		{param elementContent kind="html"}
			{if not $ij.skipSurfaceContents}
				{call Templates.SoyComponent.surface}
					{param content kind="html"}
						{call .<%= surfaceName %> data="all" /}
					{/param}
					{param id: $id + '-<%= surfaceName %>' /}
				{/call}
			{/if}
		{/param}
		{param id: $id /}
	{/delcall}
{/deltemplate}
