/* Code Mirror Tabs
	 ========================================================================== */

.code-tabs {
}

.code-tabs-header {
	border-bottom: 1px solid rgba($primaryColor, .2);
}

.code-tab {
	background: transparent;
	border: none;
	color: rgba($primaryColor, .6);
	font-family: $secondaryFont;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}

.code-tab:hover,
.code-tab:focus {
	color: $primaryColor;
	outline: none;
}

.code-tab.selected,
.code-tab.selected:hover,
.code-tab.selected:focus {
	color: #647efb;
}

.code-tabs .CodeMirror {
	border: none;
}
