{namespace Templates.ChildrenTestComponent}

/**
 */
{template .content}
	{delcall ChildrenTestComponent.children data="all" /}
{/template}

/**
 * @param bar
 */
{template .children}
	{$bar}{delcall ComponentChildren data="all" /}
{/template}
