{namespace Templates.ChildrenTestComponent}

/**
 */
{template .content}
	{call .children data="all" /}
{/template}

/**
 * @param bar
 * @param children
 */
{template .children}
	{$bar}{$children}
{/template}
