{namespace Templates.CustomTagTestComponent}

/**
 * @param id
 * @param elementClasses
 */
{template .content}
	<custom id="{$id}" class="btn component {$elementClasses}" data-foo="foo">
		{delcall CustomTestComponent.footer data="all" /}
	</custom>
{/template}

/**
 * @param id
 * @param footerContent
 */
{template .footer}
	<footer id="{$id}-footer" class="myFooter" data-bar="bar">
		{$footerContent}
	</footer>
{/template}
