{namespace Templates.CustomTestComponent}

/**
 */
{template .content}
	{delcall CustomTestComponent.header data="all" /}
	{delcall CustomTestComponent.footer data="all" /}
{/template}

/**
 * @param headerContent
 */
{template .header}
	{$headerContent}
{/template}

/**
 * @param footerContent
 */
{template .footer}
	{$footerContent}
{/template}

/**
 * @param? elementContent
 * @param? elementClasses
 * @param? id
 */
{deltemplate CustomTestComponent variant="'element'"}
	<custom id="{$id}" class="btn component{$elementClasses ? ' ' + $elementClasses : ''}" data-component="">
		{$elementContent}
	</custom>
{/deltemplate}
