{namespace Templates.CustomTestComponent}

/**
 */
{template .content}
	{call .title}
		{param title: 'My Title' /}
	{/call}
	{delcall CustomTestComponent.header data="all" /}
	{delcall CustomTestComponent.footer data="all" /}
{/template}

/**
 * @param headerContent
 */
{template .header}
	{$headerContent}
{/template}

/**
 * @param footerContent
 */
{template .footer}
	{$footerContent}
{/template}

/**
 * @param title
 */
{template .title private="true"}
	{$title}
{/template}

/**
 * @param? elementContent
 * @param? elementClasses
 * @param? id
 */
{deltemplate CustomTestComponent variant="'element'"}
	<custom id="{$id}" class="btn component{$elementClasses ? ' ' + $elementClasses : ''}">
		{$elementContent}
	</custom>
{/deltemplate}
