{namespace Templates.CustomTagTestComponent}

/**
 * @param id
 * @param elementClasses
 */
{template .content}
	<custom id="{$id}" class="btn component {$elementClasses}" data-foo="foo">
		<div class="header">Header</div>
		<div class="footer">Footer</div>
	</custom>
{/template}
