{namespace Templates.CustomTestComponent}

/**
 */
{template .content}
	{call .title}
		{param title: 'My Title' /}
	{/call}
	{call .header data="all" /}
	{call .footer data="all" /}
{/template}

/**
 * @param headerContent
 */
{template .header}
	{$headerContent}
{/template}

/**
 * @param footerContent
 */
{template .footer}
	{$footerContent}
{/template}

/**
 * @param title
 */
{template .title private="true"}
	{$title}
{/template}
