{namespace Templates.DeeplyNestedTestComponent}

/**
 */
{template .content}
	{call .components data="all" /}
{/template}

/**
 * @param bar
 * @param footerButtons
 * @param id
 */
{template .components}
	{let $child2 kind="html"}
		{call Templates.ChildrenTestComponent.content}
			{param bar: $bar /}
			{param children kind="html"}
				{call Templates.NestedTestComponent.content}
					{param count: 1 /}
					{param id: $id + '-child1' /}
				{/call}
			{/param}
			{param id: $id + '-child2' /}
		{/call}
	{/let}
	{let $child3 kind="html"}
		{call Templates.EventsTestComponent.content}
			{param footerButtons: $footerButtons /}
			{param id: $id + '-child3' /}
		{/call}
	{/let}

	{call Templates.ChildrenTestComponent.content}
		{param bar: $bar /}
		{param children kind="html"}
			<button type="button" class="parentButton" data-onclick="{$id}:handleClick"></button>
			{$child2}{$child3}
		{/param}
		{param id: $id + '-main' /}
	{/call}
{/template}
