{namespace Templates.DeeplyNestedTestComponent}

/**
 */
{template .content}
	{delcall DeeplyNestedTestComponent.components data="all" /}
{/template}

/**
 * @param bar
 * @param footerButtons
 * @param id
 */
{template .components}
	{let $child2 kind="html"}
		{delcall ChildrenTestComponent}
			{param bar: $bar /}
			{param children kind="html"}
				{delcall NestedTestComponent}
					{param count: 1 /}
					{param id: $id + '-child1' /}
				{/delcall}
			{/param}
			{param id: $id + '-child2' /}
		{/delcall}
	{/let}
	{let $child3 kind="html"}
		{delcall EventsTestComponent}
			{param footerButtons: $footerButtons /}
			{param id: $id + '-child3' /}
		{/delcall}
	{/let}

	{delcall ChildrenTestComponent}
		{param bar: $bar /}
		{param children kind="html"}
			{$child2}{$child3}
		{/param}
		{param id: $id + '-main' /}
	{/delcall}
{/template}
