{namespace Templates.EventsTestComponent}

/**
 */
{template .content}
	<div class="content" data-onclick="handleClick" data-onmousedown="handleMouseDown"></div>
	{delcall EventsTestComponent.footer data="all" /}
{/template}

/**
 * @param footerButtons
 */
{template .footer}
	{foreach $button in $footerButtons}
		<button data-onclick="handleClick" data-onmouseover="handleMouseOver">$button.label</button>
	{/foreach}
{/template}
