{namespace Templates.NestedNoIdTestComponent}

/**
 */
{template .content}
	{call Templates.CustomTestComponent.content}{/call}
	{call Templates.NestedNoIdTestComponent.foo data="all" /}
{/template}

/**
 */
{template .foo}
	{call Templates.CustomTestComponent.content}{/call}
{/template}
