{namespace Templates.NestedTestComponent}

/**
 */
{template .content}
	{delcall NestedTestComponent.components data="all" /}
{/template}

/**
 * @param count
 * @param foo
 * @param id
 */
{template .components}
	<div class="componentsWrapper">
	{for $index in range($count)}
		{delcall CustomTestComponent}
			{param headerContent: $foo /}
			{param id: $id + 'MyChild' + $index /}
		{/delcall}
	{/for}
	</div>
{/template}
