{namespace Templates.NestedPrivateTemplateTestComponent}

/**
 * @param id
 */
{template .render}
	{call Templates.ChildrenTestComponent.render}
		{param bar: 'bar' /}
		{param children kind="html"}
			{call .private data="all"}
				{param text: 'Not Surface' /}
			{/call}
			{call .private data="all"}
				{param surfaceId: 'privateTemplate' /}
				{param text: 'Surface' /}
			{/call}
			{call .notPrivate data="all"}
				{param text: 'Surface' /}
			{/call}
			{call .notPrivate data="all"}
				{param text: 'Surface' /}
			{/call}
		{/param}
		{param id: $id + '-child1' /}
	{/call}
{/template}

/**
 * @param text
 */
{template .private private="true"}
	{$text}
{/template}

/**
 * @param text
 */
{template .notPrivate}
	{$text}
{/template}
