{namespace Templates.PrivateTemplateTestComponent}

/**
 */
{template .content}
	{call .private data="all"}
		{param text: 'Not Surface' /}
	{/call}
	{call .private data="all"}
		{param surfaceId: 'privateTemplate' /}
		{param text: 'Surface' /}
	{/call}
	{call .notPrivate data="all"}
		{param text: 'Surface' /}
	{/call}
	{call .notPrivate data="all"}
		{param text: 'Surface' /}
	{/call}
{/template}

/**
 * @param text
 */
{template .private private="true"}
	{$text}
{/template}

/**
 * @param text
 */
{template .notPrivate}
	{$text}
{/template}
