/* ==========================================================================
   Button
   ========================================================================== */

.btn {
	display: block;
	float: left;
	font-family: $secondaryFont;
	position: relative;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
}

.btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: none;
}

.btn > span {
	vertical-align: middle;
}

/* Button Size
   ========================================================================== */

.btn-size-small {
	border-radius: 24px;
	font-size: 15px;
	height: 48px;
	line-height: 48px;
	width: 182px;
}

.btn-size-medium {
	border-radius: 8px;
	font-size: 18px;
	height: 72px;
	line-height: 72px;
	width: 276px;
}

.btn-size-large {
	font-size: 72px;
	font-weight: 200;
	height: 168px;
	line-height: 168px;
	width: 440px;
}

@media (max-width: $screen-xs-min) {
	.btn-size-large {
		font-size: 42px;
		height: 100px;
		line-height: 100px;
		width: 276px;
	}
}

/* Button - Tagline
   ========================================================================== */

.btn-tagline-primary {
	background: $primaryColor;
	color: white;
	font-weight: 500;
}

.btn-tagline-secondary {
	color: white;
	margin: 0 0 0 24px;
}

.btn-tagline-secondary,
.btn-calltoaction {
	border: 1px solid rgba(white, 0.6);
	font-weight: 400;
}

.btn-tagline-primary:hover,
.btn-tagline-primary:focus {
	background: rgba($primaryColor, 0.6);
	color: white;
}

.btn-tagline-secondary:hover,
.btn-tagline-secondary:focus,
.btn-calltoaction:hover,
.btn-calltoaction:focus {
	background: rgba(white, 0.05);
	color: white;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	.btn-tagline-primary,
	.btn-tagline-secondary {
		width: 215px;
	}
}

@media (max-width: $screen-xs-min) {
	.btn-tagline-primary,
	.btn-tagline-secondary {
		margin: 20px auto;
		float: none;
		width: 276px;
	}
}

/* Button - Architecture
   ========================================================================== */

.btn-architecture {
	border: 1px solid $primaryColor;
	color: $primaryColor;
	float: none;
	margin: 42px auto 96px;
}

@media (min-width: $screen-sm-min) {
	.btn-architecture {
		margin: 42px 0 96px;
	}
}

.btn-architecture:hover,
.btn-architecture:focus {
	color: $primaryColor;
	background: rgba($primaryColor, 0.2);
}

/* Button - Call to action
   ========================================================================== */

.btn-calltoaction {
	float: none;
	margin: 68px auto 0;
	color: white;
}

/* Button - Collection
   ========================================================================== */

.btn-collection-primary,
.btn-collection-secondary {
	margin: 192px auto 0;
	float: none;
}

.btn-collection-primary {
	border: 1px solid white;
	color: white;
}

.btn-collection-secondary {
	border: 1px solid rgba($secondaryColor, 0.4);
	color: rgba($secondaryColor, 0.5);
}

@media (max-width: $screen-xs-min) {
	.btn-collection-primary,
	.btn-collection-secondary {
		margin: 78px auto 0;
	}
}

.btn-collection-primary:hover,
.btn-collection-primary:focus {
	color: white;
}

.btn-collection-secondary:hover,
.btn-collection-secondary:focus {
	color: rgba($secondaryColor, 0.5);
}

/* Button Effect - Primary
   ========================================================================== */

.btn-effect-primary {
	overflow: hidden;
	padding: 0;
	-webkit-transition: border-color 0.3s, background-color 0.3s;
	transition: border-color 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-effect-primary::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transform: translate3d(0, 25%, 0);
	transform: translate3d(0, 25%, 0);
}

.btn-effect-primary > span {
	display: block;
}

.btn-effect-primary::after,
.btn-effect-primary > span {
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-effect-primary:hover::after,
.btn-effect-primary:focus::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.btn-effect-primary:hover > span,
.btn-effect-primary:focus > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}

/* Button Effect - Secondary
   ========================================================================== */

.btn-effect-secondary {
	overflow: hidden;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.btn-effect-secondary > span {
	display: inline-block;
	margin: -10px 0 0 0;
	opacity: 0;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-effect-secondary::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-effect-secondary:hover::before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.btn-effect-secondary:hover > span {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.btn-effect-secondary:hover > span:nth-child(1) {
	-webkit-transition-delay: 0.045s;
	transition-delay: 0.045s;
}

.btn-effect-secondary:hover > span:nth-child(2) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.btn-effect-secondary:hover > span:nth-child(3) {
	-webkit-transition-delay: 0.135s;
	transition-delay: 0.135s;
}

.btn-effect-secondary:hover > span:nth-child(4) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.btn-effect-secondary:hover > span:nth-child(5) {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}

.btn-effect-secondary:hover > span:nth-child(6) {
	-webkit-transition-delay: 0.27s;
	transition-delay: 0.27s;
}

.btn-effect-secondary:hover > span:nth-child(7) {
	-webkit-transition-delay: 0.315s;
	transition-delay: 0.315s;
}

.btn-effect-secondary:hover > span:nth-child(8) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}

.btn-effect-secondary:hover > span:nth-child(9) {
	-webkit-transition-delay: 0.405s;
	transition-delay: 0.405s;
}

.btn-effect-secondary:hover > span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.btn-effect-secondary:hover > span:nth-child(11) {
	-webkit-transition-delay: 0.495s;
	transition-delay: 0.495s;
}

.btn-effect-secondary:hover > span:nth-child(12) {
	-webkit-transition-delay: 0.54s;
	transition-delay: 0.54s;
}
