/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
	background: $secondaryColor;
}

.footer-paragraph {
	color: white;
	font-size: 12px;
	font-weight: 400;
	height: 36px;
	line-height: 36px;
	margin: 54px 0;
}

.footer-license {
	float: right;
}

.footer-link {
	color: #9552ef;
	font-weight: 700;
}

.footer-link:hover {
	color: #9552ef;
	font-weight: 700;
	text-decoration: none;
}

.footer-icon-liferay {
	background: white;
	margin-right: 12px;
}
