/* ==========================================================================
	 Footer
	 ========================================================================== */

.footer {
	background: $secondaryColor;
}

.footer-paragraph {
	color: white;
	font-size: 12px;
	font-weight: 400;
	height: 36px;
	line-height: 36px;
	margin: 54px 0;
}

.footer-license {
	float: right;
}

.footer-link {
	@include anim(color);
	color: rgba(white, 0.4);
	font-weight: 700;
}

.footer-link:hover,
.footer-link:focus {
	color: white;
	text-decoration: none;
}

.footer-icon-liferay {
	background: white;
	margin-right: 12px;
}

@media (max-width: $screen-xs-min) {
	.footer-icon-liferay {
		display: none;
	}
}
