/* ==========================================================================
	 Header
	 ========================================================================== */

.header {
	background: $secondaryColor;
}

/* Topbar
	 ========================================================================== */

.topbar {
	height: 36px;
	padding: 53px 0 0;
}

.topbar-logo {
	float: left;
}

.topbar-logo-image {
	float: left;
	padding: 4px 0;
}

.topbar-logo-text {
	color: white;
	display: inline-block;
	font-family: $secondaryFont;
	font-size: 17px;
	font-weight: 700;
	margin: 0 0 0 20px;
	padding: 8px 0;
}

.topbar-menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar-menu-item {
	display: inline-block;
	margin: 0 19px;
}

.topbar-menu-item:last-child {
	margin-right: 0;
}

.topbar-menu-link {
	color: white;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.topbar-menu-github {
	background: $primaryColor;
	border-radius: 50%;
	display: block;
	height: 36px;
	text-align: center;
	width: 36px;
	line-height: 36px;
}

/* Tagline
	 ========================================================================== */

.tagline {
	margin: 170px 0 216px 0;
}

.tagline-title {
	color: white;
	font-family: $secondaryFont;
	font-size: 72px;
	font-weight: 200;
	line-height: 96px;
	margin: 0 0 82px;
}

.tagline-button {
	background: $primaryColor;
	border-radius: 8px;
	border: none;
	color: white;
	display: block;
	float: left;
	font-family: $secondaryFont;
	font-size: 18px;
	font-weight: 500;
	height: 72px;
	margin: 0;
	overflow: hidden;
	position: relative;
	transition: color 0.3s;
	vertical-align: middle;
	width: 270px;
	z-index: 1;
	-webkit-transition: color 0.3s;
}

.tagline-button:last-child {
	margin-left: 24px;
}

.tagline-button:focus {
	outline: none;
}

.tagline-button > span {
	vertical-align: middle;
}

.tagline-button.tagline-button-inverted {
	background: none;
	color: white;
	border: 1px solid rgba(white, 0.6);
}

.tagline-button::before,
.tagline-button::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.tagline-button::before {
	background: rgba(white, 0.05);
}

.tagline-button::after {
	background: rgba(white, 0.1);
}

.tagline-button:hover {
	color: white;
}

.tagline-button:hover::before,
.tagline-button:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.tagline-button:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}

/* ==========================================================================
	 Header - Small devices
	 ========================================================================== */

@media (max-width: $screen-xs-max) {
	.topbar-logo-text {
		margin: 0 0 0 10px;
		font-size: 14px;
		padding: 10px 0;
	}

	.topbar-menu-item {
		margin: 0 7px;
	}

	.topbar-menu-link {
		font-size: 14px;
	}

	.tagline {
		margin: 53px 0 53px 0;
	}

	.tagline-title {
		font-size: 38px;
		line-height: 52px;
		margin: 0 0 53px;
		text-align: center;
	}

	.tagline-button {
		float: none;
		font-size: 16px;
		height: 50px;
		margin: 20px auto;
		width: 200px;
	}

	.tagline-button:last-child {
		margin: 20px auto;
	}
}
