/* ==========================================================================
	 Header
	 ========================================================================== */

.header {
	background: $secondaryColor;
	overflow: hidden;
}

.header .container {
	position: relative;
}

.header-bg {
	background: url(../images/background_header_logo@2x.png) no-repeat;
	background-size: 1145px 916px;
	display: none;
	height: 916px;
	position: absolute;
	right: -700px;
	top: 180px;
	width: 1145px;
}

@media (min-width: $screen-sm-min) {
	.header-bg {
		display: block;
	}
}

/* Topbar
	 ========================================================================== */

.topbar {
	height: 36px;
	line-height: 36px;
	margin: 53px 0;
}

@media (max-width: $screen-xs-min) {
	.topbar {
		margin: 53px auto;
		width: 276px;
	}
}

.topbar-logo {
	@include anim(opacity);
	float: left;
}

.topbar-logo:hover,
.topbar-logo:focus {
	opacity: 0.6;
}

.topbar-logo-image {
	float: left;
	margin: 4px 0;
}

.topbar-logo-text {
	color: white;
	display: inline-block;
	font-family: $secondaryFont;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 0 10px;
}

@media (min-width: $screen-sm-min) {
	.topbar-logo-text {
		font-size: 17px;
		margin: 0 0 0 20px;
	}
}

.topbar-menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar-menu-item {
	display: inline-block;
	margin: 0 7px;
}

@media (min-width: $screen-sm-min) {
	.topbar-menu-item {
		margin: 0 19px;
	}
}

.topbar-menu-item:last-child {
	margin-right: 0;
}

.topbar-menu-link {
	@include anim(color);
	color: rgba(white, 0.6);
	font-family: $secondaryFont;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

@media (min-width: $screen-sm-min) {
	.topbar-menu-link {
		font-size: 15px;
	}
}

.topbar-menu-link:hover,
.topbar-menu-link:focus {
	color: white;
	text-decoration: none;
}

.topbar-icon-github {
	background: $primaryColor;
}

@media (max-width: $screen-xs-min) {
	.topbar-menu-item:nth-child(3) {
		margin-right: 0;
	}

	.topbar-icon-github {
		display: none;
	}
}
