/* ==========================================================================
	 Header
	 ========================================================================== */

.header {
	background: $secondaryColor;
	overflow: hidden;
}

.header .container {
	position: relative;
}

.header-bg {
	background: url(../images/logo_bg.png) no-repeat;
	height: 916px;
	position: absolute;
	right: -700px;
	width: 1145px;
	top: 180px;
}

/* Topbar
	 ========================================================================== */

.topbar {
	height: 36px;
	padding: 45px 0;
}

.topbar-logo {
	float: left;
}

.topbar-logo-image {
	float: left;
	padding: 4px 0;
}

.topbar-logo-text {
	color: white;
	display: inline-block;
	font-family: $secondaryFont;
	font-size: 17px;
	font-weight: 700;
	margin: 0 0 0 20px;
	padding: 8px 0;
}

.topbar-menu {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar-menu-item {
	display: inline-block;
	margin: 0 19px;
}

.topbar-menu-item:last-child {
	margin-right: 0;
}

.topbar-menu-link {
	@include anim(color);
	color: rgba(white, 0.6);
	font-family: $secondaryFont;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

.topbar-menu-link:hover {
	color: white;
}

.topbar-menu-github {
	@include anim(opacity);
	background: $primaryColor;
	border-radius: 50%;
	display: block;
	height: 36px;
	text-align: center;
	width: 36px;
	line-height: 37px;
}

.topbar-menu-github:hover {
	opacity: 0.8;
}

@media (max-width: $screen-xs-max) {
	.topbar-logo-text {
		margin: 0 0 0 10px;
		font-size: 14px;
		padding: 10px 0;
	}

	.topbar-menu-item {
		margin: 0 7px;
	}

	.topbar-menu-link {
		font-size: 14px;
	}
}
