/* ==========================================================================
   Home
   ========================================================================== */

/* Tagline
	 ========================================================================== */

.tagline {
	margin: 45px 0 53px 0;
}

@media (min-width: $screen-sm-min) {
	.tagline {
		margin: 147px 0 216px 0;
	}
}

.tagline-title {
	color: white;
	font-family: $secondaryFont;
	font-size: 72px;
	font-weight: 200;
	line-height: 96px;
	margin: 0 0 76px;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	.tagline-title {
		font-size: 48px;
		line-height: 64px;
		margin: 0 0 53px;
	}
}

@media (max-width: $screen-xs-min) {
	.tagline-title {
		font-size: 44px;
		line-height: 52px;
		margin: 0 auto 53px;
		width: 276px;
	}
}

/* Features
	 ========================================================================== */

.feature {
	text-align: center;
	margin: 108px auto 116px;
	width: 224px;
}

@media (max-width: $screen-xs-max) {
	.features {
		margin: 48px 0 0;
	}

	.feature {
		margin: 0 auto 48px;
	}
}

.feature-image {
	display: block;
	margin: 0 auto 39px;
}

.feature-title {
	color: rgba($secondaryColor, 0.8);
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 23px;
}

.feature-description {
	color: rgba($secondaryColor, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 27px;
}

.feature-link {
	@include anim(color);
	color: $primaryColor;
	font-size: 14px;
	font-weight: 600;
}

.feature-link:hover,
.feature-link:focus {
	color: rgba($primaryColor, 0.6);
	text-decoration: none;
}

/* Architecture
	 ========================================================================== */

.architecture {
	background: rgba($secondaryColor, 0.05);
	overflow: hidden;
}

.architecture-title {
	color: rgba($secondaryColor, 0.7);
	font-family: $secondaryFont;
	font-size: 30px;
	font-weight: 300;
	margin: 64px 24px 44px;
}

@media (min-width: $screen-sm-min) {
	.architecture-title {
		margin: 64px 0 44px;
	}
}

.architecture-description {
	color: rgba($secondaryColor, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 24px 24px;
	width: auto;
}

@media (min-width: $screen-lg-min) {
	.architecture-description {
		width: 386px;
	}
}

@media (min-width: $screen-sm-min) {
	.architecture-description {
		margin: 0 0 24px;
	}
}

.architecture-image-primary,
.architecture-image-secondary {
	display: none;
	transition: transform 500ms ease;
	-webkit-transition: transform 500ms ease;
}

.architecture-image-primary {
	margin-top: -31px;
	transform: translate(0px, 0px);
}

.architecture-image-secondary {
	margin: 30px 0 0 120px;
	transform: scale(1, 1);
}

.architecture-image:hover .architecture-image-primary,
.architecture-image:focus .architecture-image-primary {
	transform: translate(0px, -15px);
}

.architecture-image:hover .architecture-image-secondary,
.architecture-image:focus .architecture-image-secondary {
	transform: scale(0.9, 0.9);
}

@media (min-width: $screen-sm-min) {
	.architecture-image-primary,
	.architecture-image-secondary {
		display: block;
	}
}

/* Collection
   ========================================================================== */

.collection {
	height: 552px;
}

@media (max-width: $screen-xs-min) {
	.collection {
		height: 264px;
	}
}

.collection-headline {
	color: rgba($secondaryColor, 0.7);
	font-family: $secondaryFont;
	font-size: 24px;
	font-weight: 300;
	margin: 51px 0 37px;
	text-align: center;
}

.collection-headline p {
	line-height: 24px;
	margin: 0 0 8px;
}

.collection-headline strong {
	font-weight: 500;
}

.collection-primary {
	background: $secondaryColor url(../images/alloy_logo@2x.png) no-repeat center center;
	background-size: 713px 620px;
}

.collection-secondary {
	background: #f0f1f2 url(../images/crystal_logo@2x.png) no-repeat center center;
	background-size: 729px 677px;
}

/* Call to action
   ========================================================================== */

.calltoaction {
	background: $primaryColor;
	padding: 116px 0 144px;
	text-align: center;
}

.calltoaction-title {
	color: white;
	font-family: $secondaryFont;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	margin: 0;
}

@media (max-width: $screen-xs-min) {
	.calltoaction-title {
		line-height: 48px;
	}
}
