/* ==========================================================================
   Home
   ========================================================================== */

/* Tagline
	 ========================================================================== */

.tagline {
	margin: 45px 0 53px 0;
}

@media (min-width: $screen-sm-min) {
	.tagline {
		margin: 147px 0 216px 0;
	}
}

.tagline-title {
	color: white;
	font-family: $secondaryFont;
	font-size: 72px;
	font-weight: 200;
	line-height: 96px;
	margin: 0 0 76px;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	.tagline-title {
		font-size: 48px;
		line-height: 64px;
		margin: 0 0 53px;
	}
}

@media (max-width: $screen-xs-min) {
	.tagline-title {
		font-size: 44px;
		line-height: 52px;
		margin: 0 auto 53px;
		width: 276px;
	}
}

.tagline-button {
	-webkit-transition: color 0.3s;
	background: $primaryColor;
	border-radius: 8px;
	border: none;
	color: white;
	display: block;
	float: left;
	font-family: $secondaryFont;
	font-size: 18px;
	font-weight: 500;
	height: 72px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	transition: color 0.3s;
	vertical-align: middle;
	width: 276px;
	z-index: 1;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
	.tagline-button {
		width: 215px;
	}
}

@media (max-width: $screen-xs-min) {
	.tagline-button {
		margin: 20px auto;
		float: none;
		width: 276px;
	}
}

.tagline-button:last-child {
	margin: 0 0 0 24px;
}

@media (max-width: $screen-xs-min) {
	.tagline-button:last-child {
		margin: 20px auto;
	}
}

.tagline-button:focus {
	outline: none;
}

.tagline-button > span {
	vertical-align: middle;
}

.tagline-button.tagline-button-inverted {
	background: none;
	border: 1px solid rgba(white, 0.6);
	color: white;
	font-weight: 400;
}

.tagline-button::before,
.tagline-button::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.tagline-button::before {
	background: rgba(white, 0.05);
}

.tagline-button::after {
	background: rgba(white, 0.1);
}

// .tagline-button:hover::before,
// .tagline-button:hover::after {
// 	-webkit-transform: translate3d(0, 100%, 0);
// 	transform: translate3d(0, 100%, 0);
// }

// .tagline-button:hover::after {
// 	-webkit-transition-delay: 0.175s;
// 	transition-delay: 0.175s;
// }

/* Features
	 ========================================================================== */

.feature {
	text-align: center;
	margin: 108px auto 116px;
	width: 224px;
}

@media (max-width: $screen-xs-max) {
	.features {
		margin: 48px 0 0;
	}

	.feature {
		margin: 0 auto 48px;
	}
}

.feature-image {
	display: block;
	margin: 0 auto 39px;
}

.feature-title {
	color: rgba($secondaryColor, 0.8);
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 23px;
}

.feature-description {
	color: rgba($secondaryColor, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 27px;
}

.feature-link {
	color: $primaryColor;
	font-size: 14px;
	font-weight: 600;
}

.feature-link:hover {
	color: $primaryColor;
	text-decoration: none;
}

/* Architecture
	 ========================================================================== */

.architecture {
	background: rgba($secondaryColor, 0.05);
}

.architecture-title {
	color: rgba($secondaryColor, 0.7);
	font-family: $secondaryFont;
	font-size: 30px;
	font-weight: 300;
	margin: 64px 24px 44px;
}

@media (min-width: $screen-sm-min) {
	.architecture-title {
		margin: 64px 0 44px;
	}
}

.architecture-description {
	color: rgba($secondaryColor, 0.6);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 24px 24px;
	width: auto;
}

@media (min-width: $screen-lg-min) {
	.architecture-description {
		width: 386px;
	}
}

@media (min-width: $screen-sm-min) {
	.architecture-description {
		margin: 0 0 24px;
	}
}

.architecture-image-primary,
.architecture-image-secondary {
	display: none;
	max-width: 100%;
}

.architecture-image-primary {
	margin-top: -31px;
}

@media (min-width: $screen-sm-min) {
	.architecture-image-primary,
	.architecture-image-secondary {
		display: block;
	}

	.architecture-image-secondary {
		margin: 30px 0 0 60px;
	}
}

@media (min-width: $screen-md-min) {
	.architecture-image-secondary {
		margin: 30px 0 0 120px;
	}
}

.architecture-link {
	border-radius: 24px;
	border: 1px solid $primaryColor;
	color: $primaryColor;
	display: block;
	font-family: $secondaryFont;
	font-size: 15px;
	height: 48px;
	line-height: 48px;
	margin: 42px auto 96px;
	text-align: center;
	width: 182px;
}

@media (min-width: $screen-sm-min) {
	.architecture-link {
		margin: 42px 0 96px;
	}
}

.architecture-link:hover {
	color: $primaryColor;
	text-decoration: none;
}

/* Collection
   ========================================================================== */

.collection {
	height: 552px;
}

@media (max-width: $screen-xs-min) {
	.collection {
		height: 264px;
	}
}

.collection-headline {
	color: rgba($secondaryColor, 0.7);
	font-family: $secondaryFont;
	font-size: 24px;
	font-weight: 300;
	margin: 51px 0 37px;
	text-align: center;
}

.collection-headline p {
	line-height: 24px;
	margin: 0 0 8px;
}

.collection-headline strong {
	font-weight: 500;
}

.collection-button {
	display: block;
	font-family: $secondaryFont;
	font-size: 72px;
	font-weight: 200;
	line-height: 72px;
	margin: 192px auto 0;
	padding: 47px 0;
	text-align: center;
	width: 440px;
}

@media (max-width: $screen-xs-min) {
	.collection-button {
		font-size: 56px;
		line-height: 56px;
		width: 276px;
		margin: 56px auto 0;
	}
}

.collection-button:hover {
	text-decoration: none;
}

.collection-primary {
	background: $secondaryColor url(../images/alloy_logo.png) no-repeat center center;
}

.collection-primary .collection-button {
	border: 1px solid white;
	color: white;
}

.collection-secondary {
	background: #f0f1f2 url(../images/crystal_logo.png) no-repeat center center;
}

.collection-secondary .collection-button {
	border: 1px solid rgba($secondaryColor, 0.4);
	color: rgba($secondaryColor, 0.5);
}

/* Call to action
   ========================================================================== */

.calltoaction {
	background: $primaryColor;
	padding: 116px 0 144px;
	text-align: center;
}

.calltoaction-title {
	color: white;
	font-family: $secondaryFont;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	margin: 0;
}

@media (max-width: $screen-xs-min) {
	.calltoaction-title {
		line-height: 48px;
	}
}

.calltoaction-button {
	background: $primaryColor;
	border: 1px solid white;
	border-radius: 8px;
	color: white;
	display: block;
	font-family: $secondaryFont;
	font-size: 18px;
	font-weight: 400;
	height: 72px;
	margin: 68px auto 0;
	width: 276px;
	line-height: 72px;
}

.calltoaction-button:hover {
	color: white;
	text-decoration: none;
}
