/* ==========================================================================
   Overrides
   ========================================================================== */

@import "variables";

/* ==========================================================================
   Dependencies
   ========================================================================== */

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/grid";

/* ==========================================================================
   Main
   ========================================================================== */

body {
	font-family: $primaryFont;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@mixin anim($property) {
	transition: $property .3s ease-in-out;
}

.rounded-icon {
	@include anim(opacity);
	border-radius: 50%;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 36px;
}

// .rounded-icon:hover {
// 	opacity: 0.8;
// }

@import "header";
@import "footer";
@import "home";
